@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Fredoka+One&family=Varela+Round&display=swap");

.WritePrescription {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}